.main {
  min-height: 100vh;
  max-width: 100vw;
  font-family: sans-serif;
  position: relative;
  overflow-x: hidden;
}

.game-banner{
    position: absolute;
    width: 70%;
    margin-bottom: 2rem;
    left: calc(50% - 35%);
    border: 2px solid orange;
    border-radius: 12px;
    height: 87%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    overflow: hidden;
}

.game-banner::before{
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  z-index: 2;
}

.game-banner img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 12px; */
    display: block;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.mon {
  min-height: 470px;
  display: flex;
  position: relative;
  
}

.ans {
  min-height: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;
  padding-bottom: 2rem;
}

.ques {
  width: calc(70% + 3.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: aliceblue;
  text-align: center;
  padding-block: 1rem;
  position: relative;
  background-color: rgb(14, 4, 77);
  max-width: 800px;
  border-radius: 42px;
  border: 2px solid orange;
  padding-inline: 0.6rem;
  line-height: 1.2;
  font-family: "Poetsen One", sans-serif;
}

.ques::before {
    content: "";
    background-color: orange;
    height: 2px;
    width: 1000px;
    top: calc(50% - 1px);
    right: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .ques::after {
    content: "";
    background-color: orange;
    height: 2px;
    width: 1000px;
    top: calc(50% - 2px);
    left: 100%;
    position: absolute;
    z-index: 1;
  }

.ans ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  list-style-type: circle;
}

.ans ul li {
  border-radius: 42px;
  width: 400px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid orange;
  font-size: 1.4rem;
  color: aliceblue;
  padding: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 22;
  background-color: rgb(14, 4, 77);
  max-width: 400px;
  font-family: "Poetsen One", sans-serif;
  
}

.ans ul li:before {
  content: "";
  background-color: orange;
  height: 2px;
  width: 1000px;
  top: calc(50% - 1px);
  right: 100%;
  position: absolute;
  z-index: 1;
}

.ans ul li:after {
  content: "";
  background-color: orange;
  height: 2px;
  width: 1000px;
  top: calc(50% - 1px);
  left: 100%;
  position: absolute;
  z-index: 1;
}

.ans ul li:is(:nth-child(2), :nth-child(3))::before{
    z-index: -44;
    width: 1.5rem;
}

.ans ul li:is(:nth-child(1), :nth-child(2))::after{
    z-index: -44;
    width: 1.5rem;
}

.fail {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.fail>*:is(:not(a)){
  font-size: 1.6rem;
}

.anime{
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    overflow: hidden;
    width: 100vw;
    pointer-events: none;
    z-index: 999;
}

.timer {
  position: absolute;
  left: calc(50% - 50px);
  bottom: 15%;
  color: aliceblue;
  background-color: black;
  margin: 0;
  z-index: 9;
}

.none{
    display: none;
}

.amount {
  display: flex;
  flex-direction: column;
  background-color: rgb(6, 3, 50);
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  list-style: none;
  border: 2px solid orange;
  border-radius: 8px;
  margin: 1rem;
  padding-block: 10px;
  overflow: hidden;
  padding-top: 1.2rem;
  position: absolute;
  left: 8%;
  right: 8%;
  top: calc(50vh - 60px);
  z-index: 99999;
  animation-name: glow;
  animation-duration: 0.85s;
  animation-timing-function: linear;
  display: none;
}

.amount li, .indicator {
  width: 70%;
  padding-left: 20px;
  padding-block: 4px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: center;
  position: relative;
  align-items: center;
  /* background-color: red; */
}

.amount li{
  height: 30px;
}

.amount.active{
  display: flex;
}

.indicator::before {
    content: "";
    background-color: inherit;
    height: 2px;
    width: 1000px;
    top: calc(50% - 1px);
    right: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .indicator::after {
    content: "";
    background-color: inherit;
    height: 2px;
    width: 1000px;
    top: calc(50% - 1px);
    left: 100%;
    position: absolute;
    z-index: 1;
  }

  .amount .indicator{
    background-color: orange;
    border-radius: 42px;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    inset: 0;
    transition: all 1s linear;
  }

  @keyframes glow {
    0%{
      opacity: 0;
    }
    100%{
     opacity: 1;
    }
  }

.li-bg-grey {
  background-color: transparent;
  color: orange;
}

.li-bg-green {
  color: #fff;
}

.failed {
  animation-name: failed;
  animation-duration: 6s;
}

.correct-bg {
  background-color: rgb(17, 167, 6);
  animation-name: static;
  animation-duration: 6s;
}

@keyframes static {
  0% {
    background-color: rgb(14, 4, 77);
  }
  25% {
    background-color: rgba(14, 4, 77);
  }
  60% {
    background-color: rgba(221, 221, 28, 0.789);
  }
  100% {
    background-color: rgb(17, 167, 6);
  }
}

@keyframes failed {
  0% {
    background-color: yellow;
  }
  15% {
    background-color: rgba(188, 188, 34, 0.2);
  }
  30% {
    background-color: rgb(255, 255, 40);
  }

  100% {
    background-color: red;
  }
}

.correct {
  animation-name: correct;
  animation-duration: 6s;
}

@keyframes correct {
  0% {
    background-color: yellow;
  }
  15% {
    background-color: rgba(188, 188, 34, 0.2);
  }
  30% {
    background-color: rgb(255, 255, 40);
  }
  100% {
    background-color: rgb(30, 247, 15);
  }
}


.menu, .close, .info{
    font-size: 2.4rem;
    color: orange;
    position: absolute;
    top: 10px;
    outline: none;
    border: none;
    font-weight: 600;
    display: none;
    cursor: pointer;
    width: max-content;
    z-index: 999;
    background-color: transparent;
}

.menu>*, .close>*{
    pointer-events: none;
}

.main .close{
    display: block;
    right: 10px;
}

.info{
  display: block;
  left: 10px;
}

ul.menu-active{
  transform: translateX(0px);
}

.menu{
    left: 10px;
}

ul .close{
    left: 10px;
}


@media (max-width: 1278.5px){
    .ans ul li:is(:nth-child(2), :nth-child(4))::before{
        z-index: -44;
        width: 1.5rem;
    }

    .ans ul li:is(:nth-child(1), :nth-child(3))::before{
        z-index: -44;
        width: 1000px;
    }
    .ans ul li:is(:nth-child(2), :nth-child(4))::after{
        z-index: -44;
        width: 1000px;
    }
    
    .ans ul li:is(:nth-child(1), :nth-child(3))::after{
        z-index: -44;
        width: 1.5rem;
    }
}

@media (max-width: 855px){
   .main .ans ul li::before, .main .ans ul li::after{
        z-index: -44;
        width: 1000px;
    }
    
}

@media (max-width: 804px){
    :root{
        font-size: 12px;
    }

    .ques{
        width: 80%;
        border-width: 2px;
        font-size: 1.4rem;
    }

    .ques::before, .ques::after{
        height: 2px
     }

    .ans ul li {
        width: 85%;
        font-size: 1.3rem;
        border-width: 2px;
      }

     .ans ul li::before, .ans ul li::after{
        height: 2px
     }
}



@media (max-width: 960px){
      .menu, .close{
        display: block;
      }
}


@media (max-width: 534px){
    .ques{
        width: 95%;
    }

    .ans ul li {
        width: 85%;
      }

      .game-banner{
        width: 95%;
        margin-bottom: 2rem;
        left: 2.5%;
        right: 2.5%;
        border: 2px solid orange;
        border-radius: 12px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .amount {
      left: 4%;
      right: 4%;
      top: calc(50vh - 40px);
    }

}

@media (max-width: 320px){
    .game-banner{
        /* width: 100%; */
        top: 46px;
    }
    .game-banner img{
        width: 100%;

    }

}

