form{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 400px;
    margin: 100px auto;
}

form input{
    margin-bottom: 1.4rem;
}

.fancy_input{
    border: 4px solid cyan;
    background-color: rgb(7, 38, 38);
    height: 60px;
    color: aliceblue;
    outline: none;
    caret-color: rgb(23, 227, 37);
    font-size: 1.4rem;
}

.fancy_input:focus-within{
    /* border-color: red; */
}

.fancy_input:invalid:is(:not(:focus-within)){
    border-color: red;
    animation-name: shake;
    animation-duration: 0.15s;
    animation-iteration-count: 4;
}

.fancy_input:is(:not(:invalid)):focus-within{
    border-color: rgb(23, 247, 23);
}

@keyframes shake {
    0%{
     transform: translateX(0px);
    }
    25%{
    transform: translateX(6px);
    }
    50%{
    transform: translateX(0px);
    }
    75%{
    transform: translateX(-6px);
    }
    100%{
    transform: translateX(0px);
    }
}

.light{
    background-color: rgb(255, 255, 255);
    color: #f00;
}
.dark{
    background-color: black;
    color: #fff;
}

button{
    padding: 1rem 1.8rem;
    display: block;
    margin-top: 1rem;
    color: inherit;
    background-color: inherit;
    border: 2px solid orangered;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
}